@import "colors";

body {
  height: 100%;
  background: $darkGray;
  color: $whiteCloud;
  font-family: 'Verdana';
}

.box {
  background: rgba(255,255,255,.6);
  padding: 10px;
  color: $darkGray;
}

h2 {
  margin-top: 70px;
  &:first-child {
    margin-top: 0;
  }
}

code {
  background: $whiteCloud;
  color: $darkGray;
  margin: 0 0 20px;
  display: block;
  white-space:pre-wrap;
  width: 50%;
}

#svg-image-blur {
  display: none;
}