.flex-container {
  &.rows >section, &.cols >section {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  &.rows {
    >section {
      -webkit-flex-flow: row nowrap;
      flex-flow: row nowrap;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0 !important;
      }
      .box {
        margin-right: 10px;
        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
    &.gutter-5 {
      >section {
        margin-bottom: 5px;
        .box {
          margin-right: 5px;
        }
      }
    }
    &.gutter-10 {
      >section {
        margin-bottom: 10px;
        .box {
          margin-right: 10px;
        }
      }
    }
    &.gutter-20 {
      >section {
        margin-bottom: 20px;
        .box {
          margin-right: 20px;
        }
      }
    }
  }
  &.cols {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    &.uneven {
      align-items: flex-start;
    }
    >section {
      -webkit-flex-flow: column nowrap;
      flex-flow: column nowrap;
      -webkit-flex: 1 0 auto;
      flex: 1 0 auto;
      margin-right: 10px;
      &:last-child {
        margin-right: 0px !important;
      }
      .box {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
    &.gutter-5 {
      >section {
        margin-right: 5px;
        .box {
          margin-bottom: 5px;
        }
      }
    }
    &.gutter-10 {
      >section {
        margin-right: 10px;
        .box {
          margin-bottom: 10px;
        }
      }
    }
    &.gutter-20 {
      >section {
        margin-right: 20px;
        .box {
          margin-bottom: 20px;
        }
      }
    }
  }
  .box {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}