.flex-container {
  &.rows .row, &.cols .col {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }
  &.rows {
    .row {
      -webkit-flex-flow: row wrap;
      flex-flow: row wrap;
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0 !important;
      }
      .box {
        margin-right: 10px;
        &:last-child {
          margin-right: 0 !important;
        }
      }
    }
    &.gutter-10 {
      .row {
        margin-bottom: 10px;
        .box {
          margin-right: 10px;
        }
      }
    }
    &.gutter-20 {
      .row {
        margin-bottom: 20px;
        .box {
          margin-right: 20px;
        }
      }
    }
  }
  &.cols {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    &.uneven {
      align-items: flex-start;
    }
    .col {
      -webkit-flex-flow: column wrap;
      flex-flow: column wrap;
      -webkit-flex: 1 0 auto;
      flex: 1 0 auto;
      margin-right: 10px;
      &:last-child {
        margin-right: 0px !important;
      }
      .box {
        margin-bottom: 10px;
        &:last-child {
          margin-bottom: 0 !important;
        }
      }
    }
    &.gutter-10 {
      .col {
        margin-right: 10px;
        .box {
          margin-bottom: 10px;
        }
      }
    }
    &.gutter-20 {
      .col {
        margin-right: 20px;
        .box {
          margin-bottom: 20px;
        }
      }
    }
  }
  .box {
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
  }
}