<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flexbox Layout</title>

    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/css/flexbox-layout.css" type="text/css" />
  </head>

  <body>

    <h1>Flexbox Layout</h1>
    
    <h2>Rows</h2>

    <code>  .flex-container.rows.gutter-20
    section
      .box*3
    section
      .box*5</code>

    <div class="flex-container rows gutter-20">
      <section>
        <div class="box">
          Row 1 Box 1 information
        </div>
        <div class="box">
          Row 1 Box 2 information
        </div>
        <div class="box">
          Row 1 Box 3 information
        </div>
      </section>
      <section>
        <div class="box">
          Row 2 Box 1 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 2 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 3 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 4 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 5 information<br />
          plus a row
        </div>
      </section>
    </div>

    <h2>Cols : Even</h2>

    <code>  .flex-container.cols.gutter-10
    section
      .box*3
    section
      .box*5
    section
      .box*3</code>

    <div class="flex-container cols gutter-10">
      <section>
        <div class="box">
          Col 1 Box 1 information
        </div>
        <div class="box">
          Col 1 Box 2 information
        </div>
        <div class="box">
          Col 1 Box 3 information
        </div>
      </section>
      <section>
        <div class="box">
          Col 2 Box 1 information
        </div>
        <div class="box">
          Col 2 Box 2 information
        </div>
        <div class="box">
          Col 2 Box 3 information
        </div>
        <div class="box">
          Col 2 Box 4 information
        </div>
        <div class="box">
          Col 2 Box 5 information
        </div>
      </section>
      <section>
        <div class="box">
          Col 3 Box 1 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 2 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 3 information<br />
          Plus a line
        </div>
      </section>
    </div>

    <h2>Cols : Uneven</h2>

    <code>  .flex-container.cols.uneven.gutter-10
    section
      .box*3
    section
      .box*5
    section
      .box*3</code>

    <div class="flex-container cols uneven gutter-20">
      <section>
        <div class="box">
          Col 1 Box 1 information
        </div>
        <div class="box">
          Col 1 Box 2 information
        </div>
        <div class="box">
          Col 1 Box 3 information
        </div>
      </section>
      <section>
        <div class="box">
          Col 2 Box 1 information
        </div>
        <div class="box">
          Col 2 Box 2 information
        </div>
        <div class="box">
          Col 2 Box 3 information
        </div>
        <div class="box">
          Col 2 Box 4 information
        </div>
        <div class="box">
          Col 2 Box 5 information
        </div>
      </section>
      <section>
        <div class="box">
          Col 3 Box 1 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 2 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 3 information<br />
          Plus a line
        </div>
      </section>
    </div>

    <h2>Cols : Even : Custom Gutter </h2>

    <code>  .flex-container.cols.even.gutter-custom data-gutter="50"
    section
      .box*3
    section
      .box*5
    section
      .box*3</code>

    <div class="flex-container cols gutter-custom" data-gutter="50">
      <section>
        <div class="box">
          Col 1 Box 1 information
        </div>
        <div class="box">
          Col 1 Box 2 information
        </div>
        <div class="box">
          Col 1 Box 3 information
        </div>
      </section>
      <section>
        <div class="box">
          Col 2 Box 1 information
        </div>
        <div class="box">
          Col 2 Box 2 information
        </div>
        <div class="box">
          Col 2 Box 3 information
        </div>
        <div class="box">
          Col 2 Box 4 information
        </div>
        <div class="box">
          Col 2 Box 5 information
        </div>
      </section>
      <section>
        <div class="box">
          Col 3 Box 1 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 2 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 3 information<br />
          Plus a line
        </div>
      </section>
    </div>

    <h2>Rows : Custom Gutter</h2>

    <code>  .flex-container.rows.gutter-custom data-gutter="50"
    section
      .box*3
    section
      .box*5</code>

    <div class="flex-container rows gutter-custom" data-gutter="50">
      <section>
        <div class="box">
          Row 1 Box 1 information
        </div>
        <div class="box">
          Row 1 Box 2 information
        </div>
        <div class="box">
          Row 1 Box 3 information
        </div>
      </section>
      <section>
        <div class="box">
          Row 2 Box 1 information<br />
          plus a row
          <section>test</section>
        </div>
        <div class="box">
          Row 2 Box 2 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 3 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 4 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 5 information<br />
          plus a row
        </div>
      </section>
    </div>

    <script src="/js/flexbox-layout.min.js"></script>
  </body>
</html>