<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flexbox Layout</title>

    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/css/flexbox-layout.css" type="text/css" />
  </head>

  <body>

    <h1>Flexbox Layout</h1>
    
    <h2>Rows</h2>

    <code>  .flex-container.rows.gutter-20
    .row
      .box*3
    .row
      .box*5</code>

    <div class="flex-container rows gutter-20">
      <div class="row">
        <div class="box">
          Row 1 Box 1 information
        </div>
        <div class="box">
          Row 1 Box 2 information
        </div>
        <div class="box">
          Row 1 Box 3 information
        </div>
      </div>
      <div class="row">
        <div class="box">
          Row 2 Box 1 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 2 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 3 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 4 information<br />
          plus a row
        </div>
        <div class="box">
          Row 2 Box 5 information<br />
          plus a row
        </div>
      </div>
    </div>

    <h2>Cols : Even</h2>

    <code>  .flex-container.cols.gutter-10
    .col
      .box*3
    .col
      .box*5
    .col
      .box*3</code>

    <div class="flex-container cols gutter-10">
      <div class="col">
        <div class="box">
          Col 1 Box 1 information
        </div>
        <div class="box">
          Col 1 Box 2 information
        </div>
        <div class="box">
          Col 1 Box 3 information
        </div>
      </div>
      <div class="col">
        <div class="box">
          Col 2 Box 1 information
        </div>
        <div class="box">
          Col 2 Box 2 information
        </div>
        <div class="box">
          Col 2 Box 3 information
        </div>
        <div class="box">
          Col 2 Box 4 information
        </div>
        <div class="box">
          Col 2 Box 5 information
        </div>
      </div>
      <div class="col">
        <div class="box">
          Col 3 Box 1 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 2 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 3 information<br />
          Plus a line
        </div>
      </div>
    </div>

    <h2>Cols : Uneven</h2>

    <code>  .flex-container.cols.uneven.gutter-10
    .col
      .box*3
    .col
      .box*5
    .col
      .box*3</code>

    <div class="flex-container cols uneven gutter-20">
      <div class="col">
        <div class="box">
          Col 1 Box 1 information
        </div>
        <div class="box">
          Col 1 Box 2 information
        </div>
        <div class="box">
          Col 1 Box 3 information
        </div>
      </div>
      <div class="col">
        <div class="box">
          Col 2 Box 1 information
        </div>
        <div class="box">
          Col 2 Box 2 information
        </div>
        <div class="box">
          Col 2 Box 3 information
        </div>
        <div class="box">
          Col 2 Box 4 information
        </div>
        <div class="box">
          Col 2 Box 5 information
        </div>
      </div>
      <div class="col">
        <div class="box">
          Col 3 Box 1 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 2 information<br />
          Plus a line
        </div>
        <div class="box">
          Col 3 Box 3 information<br />
          Plus a line
        </div>
      </div>
    </div>

  </body>
</html>