<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flexbox Layout</title>

    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <link rel="stylesheet" href="/css/flexbox-layout.css" type="text/css" />
  </head>

  <body>
    
    <h2>Flexbox Layout - Rows</h2>

    <code>  .flex-container.rows.gutter-20
    .row
      .box*3
    .row
      .box*5</code>

    <div class="flex-container rows gutter-20">
      <div class="row">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div class="row">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>

    <h2>Flexbox Layout - Cols : Even</h2>

    <code>  .flex-container.cols.gutter-10
    .col
      .box*3
    .col
      .box*5
    .col
      .box*3</code>

    <div class="flex-container cols gutter-10">
      <div class="col">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div class="col">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div class="col">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>

    <h2>Flexbox Layout - Cols : Uneven</h2>

    <code>  .flex-container.cols.uneven.gutter-10
    .col
      .box*3
    .col
      .box*5
    .col
      .box*3</code>

    <div class="flex-container cols uneven gutter-20">
      <div class="col">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div class="col">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
      <div class="col">
        <div class="box"></div>
        <div class="box"></div>
        <div class="box"></div>
      </div>
    </div>

  </body>
</html>