.flex-container.rows > section, .flex-container.cols > section {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between; }

.flex-container.rows > section {
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap;
  margin-bottom: 10px; }
  .flex-container.rows > section:last-child {
    margin-bottom: 0 !important; }
  .flex-container.rows > section .box {
    margin-right: 10px; }
    .flex-container.rows > section .box:last-child {
      margin-right: 0 !important; }

.flex-container.rows.gutter-5 > section {
  margin-bottom: 5px; }
  .flex-container.rows.gutter-5 > section .box {
    margin-right: 5px; }

.flex-container.rows.gutter-10 > section {
  margin-bottom: 10px; }
  .flex-container.rows.gutter-10 > section .box {
    margin-right: 10px; }

.flex-container.rows.gutter-20 > section {
  margin-bottom: 20px; }
  .flex-container.rows.gutter-20 > section .box {
    margin-right: 20px; }

.flex-container.cols {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-flex-flow: row nowrap;
  flex-flow: row nowrap; }
  .flex-container.cols.uneven {
    align-items: flex-start; }
  .flex-container.cols > section {
    -webkit-flex-flow: column nowrap;
    flex-flow: column nowrap;
    -webkit-flex: 1 0 auto;
    flex: 1 0 auto;
    margin-right: 10px; }
    .flex-container.cols > section:last-child {
      margin-right: 0px !important; }
    .flex-container.cols > section .box {
      margin-bottom: 10px; }
      .flex-container.cols > section .box:last-child {
        margin-bottom: 0 !important; }
  .flex-container.cols.gutter-5 > section {
    margin-right: 5px; }
    .flex-container.cols.gutter-5 > section .box {
      margin-bottom: 5px; }
  .flex-container.cols.gutter-10 > section {
    margin-right: 10px; }
    .flex-container.cols.gutter-10 > section .box {
      margin-bottom: 10px; }
  .flex-container.cols.gutter-20 > section {
    margin-right: 20px; }
    .flex-container.cols.gutter-20 > section .box {
      margin-bottom: 20px; }

.flex-container .box {
  -webkit-flex: 1 0 auto;
  flex: 1 0 auto; }
