.flex-container.rows .row, .flex-container.cols .col {
  display: flex;
  justify-content: space-around; }

.flex-container.rows .row {
  flex-flow: row wrap;
  margin-bottom: 10px; }
  .flex-container.rows .row:last-child {
    margin-bottom: 0 !important; }
  .flex-container.rows .row .box {
    margin-right: 10px; }
    .flex-container.rows .row .box:last-child {
      margin-right: 0 !important; }

.flex-container.rows.gutter-10 .row {
  margin-bottom: 10px; }
  .flex-container.rows.gutter-10 .row .box {
    margin-right: 10px; }

.flex-container.rows.gutter-20 .row {
  margin-bottom: 20px; }
  .flex-container.rows.gutter-20 .row .box {
    margin-right: 20px; }

.flex-container.cols {
  display: flex;
  justify-content: space-around;
  flex-flow: row nowrap; }
  .flex-container.cols.uneven {
    align-items: flex-start; }
  .flex-container.cols .col {
    flex-flow: column wrap;
    flex-grow: 1;
    margin-right: 10px; }
    .flex-container.cols .col:last-child {
      margin-right: 0px !important; }
    .flex-container.cols .col .box {
      margin-bottom: 10px; }
      .flex-container.cols .col .box:last-child {
        margin-bottom: 0 !important; }
  .flex-container.cols.gutter-10 .col {
    margin-right: 10px; }
    .flex-container.cols.gutter-10 .col .box {
      margin-bottom: 10px; }
  .flex-container.cols.gutter-20 .col {
    margin-right: 20px; }
    .flex-container.cols.gutter-20 .col .box {
      margin-bottom: 20px; }

.flex-container .box {
  flex-grow: 1; }
